@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

button {
  background-color: hsl(176deg, 50%, 47%);
  border-radius: 35px;
  padding: 5px 50px 5px 50px;
  height: 55px;
  color: white;
  font-weight: 700;
  border: none;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: hsl(176deg, 72%, 28%);
}

p {
  margin: 25px;
  font-size: 14px;
  color: hsl(0deg, 0%, 48%);
  line-height: 25px;
}

.border {
  background-color: white;
  border: 2px solid hsl(0deg, 0%, 98%);
  border-radius: 12px;
  width: 90%;
  margin: 20px auto 20px auto;
}

.pronunciado {
  font-size: 2em;
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}

.main {
  width: 375px;
  margin: auto;
  background-color: hsl(0deg, 0%, 98%);
}
.main__header {
  background-image: url("./images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.main__header-navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.header__menu {
  display: none;
}

.img-hamburger {
  text-align: end;
}

.header__menu-hamburger-list {
  display: none;
}

.section1 {
  background-color: white;
  border: 2px solid #f5f5f5;
  border-radius: 12px;
  width: 90%;
  margin: -65px auto 20px auto;
}
.section1__img {
  display: flex;
  justify-content: center;
  margin: -30px auto 20px auto;
}
.section1__h1 {
  text-align: center;
  font-size: 1.3em;
}
.section1__p {
  margin: 25px;
  font-size: 14px;
  color: hsl(0deg, 0%, 48%);
  text-align: center;
}
.section1__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.section1__buttons-img {
  width: 55px;
  height: 55px;
}
.section1__buttons-bookmark {
  display: none;
}

.section2 {
  padding: 0 0 15px 0;
}
.section2__h1 {
  text-align: center;
  margin: 40px 0 0px 0;
}
.section2__p {
  text-align: center;
  margin: 15px 0 0 0;
}
.section2__line {
  width: 80px;
  margin: 20px auto;
  border-bottom: 1px solid hsl(0deg, 0%, 88%);
}
.section2__barra {
  height: 15px;
  margin: 25px;
  border-radius: 15px;
  background-color: hsl(0deg, 0%, 88%);
}
.section2__progres {
  width: 75%;
  height: 15px;
  margin: -1px 0 0 0;
  border-radius: 15px;
  background-color: hsl(176deg, 50%, 47%);
}

.section3 {
  padding: 40px 0;
}
.section3__h3 {
  margin: 0 25px;
}

.section4__group-h4 {
  margin: 25px 25px 0;
}
.section4__group-p {
  margin: 0 25px;
  color: hsl(176deg, 50%, 47%);
  font-weight: 700;
}
.section4__group-select-span {
  margin: 0 10px 0 0;
}
.section4__group-select-p {
  display: flex;
  align-items: center;
  font-size: 17;
  font-weight: 500;
}
.section4__group-button {
  margin: 0 25px 25px;
}
.section4.border {
  border: 1px solid hsl(0deg, 0%, 88%);
}
.section4.disable {
  opacity: 0.4;
}
.section4.disable .section4__group-button {
  background-color: hsl(0deg, 0%, 48%);
  cursor: default;
}

/*# sourceMappingURL=styles.css.map */
